.form-box {
    width: 50%;
    margin: auto;
    padding-top:20px;
}

.input-group{
    border-radius: 5px;
    -webkit-box-shadow: -1px 3px 18px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: -1px 3px 18px 0px rgba(0,0,0,0.35);
    box-shadow: -1px 3px 18px 0px rgba(0,0,0,0.35);
}

.input-group-addon{
     border: none;
     border-right: 1px solid rgba(0,0,0,0.2);
}

.input-group-addon span{
  color: #006dcc;
}
