.subheaders{
  color: #FC466B
}

.btn-account{
  color: red;
}

#account{
  border: 1px solid red;
  border-radius: 7px;
  max-width: 800px;
  display: block;
  margin: auto;
}

label{
  background: -webkit-linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
