{% extends 'matchingapp/base.html' %}
		{% load static %}
		{% block title %}<title>Home</title>{% endblock %}
		{% block stylesheet %}<link rel="stylesheet" type="text/css" href="{% static 'matchingapp/home.css' %}">{% endblock %}
	{% block body %}{% csrf_token %}<body onload="checkLoginStatus()">{% endblock %}
		{% block content %}
		<div class="bodStyle container">
	    <br/><h1> Welcome to <div class="second-font">Vinder!</div></h1><br/>
			<p>Make new friends 😜</p>
			<div class="row">

		  </div>
		 </div>
		 <button class="btn btn-col" id="logout">Logout <span><i class="fas fa-sign-out-alt"></i></span></button>
		 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		 <script type = 'text/javascript'>
		      function authenticateUser(){
		        var loggedIn = false;
		        $.ajax({
		           async: false,
		           type: 'GET',
		           url: '/matchingapp/authenticate/',
		           dataType: 'json',
		           success: function(data){
		              loggedIn = data[0].success
		           }
		        });
		        return loggedIn;
		      }
					//checks that a person has logged in, if not they are redirected to login page
		      function checkLoginStatus(){
		        var flag = authenticateUser();
		        if(flag === false){
		          returnToLogin();
		        } else {
		    			getMatches();
		   			}
		      }
					//prints all user profiles returned, with them in descending order of matches
					function loadProfiles(users, matches, profiles){
						for(var i = 0; i < users.length; i++){
							try{image = "/media/"+profiles[i].profileImage}
							catch(err){ image = "none"}

							var itemDiv = $("<div class='col'>").
					    append($("<div class='card'><img class='card-img-top' src='"+image+"' alt='Card image cap'/><div class='card-body'>"
								+"<h5 class='card-title'>" + users[i] + "</h5><p class='card-text'>" + profiles[i].bio +
								"</p>You have " + matches[i] + " matches with this person!</p><a data-username='"+ users[i] +
								"' class='likeUser btn btnCard'>Like Profile <span><i class='fas fa-thumbs-up'></i></a></span></div></div></div></div>"));
					 		$(".row").append(itemDiv);
						}
			     }
					 //queries database for matches
					 function getMatches(){
						 var csrf = $('input[name=csrfmiddlewaretoken]').val();
						 $.ajax({
						 	async: false,
						 	type: 'POST',
						 	url: '/matchingapp/lookupMatches/',
							data: {csrfmiddlewaretoken: csrf},
						 	success: function(content){
								loadProfiles(content.users, content.matches, content.profiles)
						 	}});
					 }
					 //when user clicks the like button it either likes or dislikes the user selected
					$(document).on('click', ".likeUser", function(e){
						e.preventDefault();
						var username = $(this).data('username');
						$.ajax({
	            type: "PUT",
	            url: "/matchingapp/userLikes/",
	            data: JSON.stringify({'username': username}),
	            dataType: "json",
	            success: function(response) {
								console.log("Success")
							}
						});
					});
					//logs out user
					$(document).on('click', '#logout', function (e){
					    e.preventDefault();
			        $.ajax({
			          type:'POST',
			          url: '/matchingapp/logout/',
			          success: function(data){
			            returnToLogin();
			          }
			        });
					 });
					 //return to login page
		      function returnToLogin(){
		        window.location = '/matchingapp/loginPage';
		      }
		    </script>
		  </body>
		{% endblock %}
	</html>
