{% extends 'matchingapp/base.html' %}
		{% load static %}
		{% block title %}<title>Home</title>{% endblock %}
		{% block stylesheet %}<link rel="stylesheet" type="text/css" href="{% static 'matchingapp/home.css' %}">{% endblock %}
	{% block body %}<body onload="checkLoginStatus()">{% endblock %}
		{% block content %}
		<div class="bodStyle container">
	    <br/><h1> Welcome to Vinder! </h1><br/>
			<p>Make new friends 😜</p>
			<div class="row">

		  </div>
		 </div>
		 <button class="btn btn-col" id="logout">Logout <span><i class="fas fa-sign-out-alt"></i></span></button>
		 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		 <script type = 'text/javascript'>
		      function authenticateUser(){
		        var loggedIn = false;
		        $.ajax({
		           async: false,
		           type: 'GET',
		           url: '/matchingapp/authenticate/',
		           dataType: 'json',
		           success: function(data){
		              loggedIn = data[0].success
		           }
		        });
		        return loggedIn;
		      }

		      function checkLoginStatus(){
		        var flag = authenticateUser();
		        if(flag === false){
		          returnToLogin();
		        } else {
		    			getMatches();
		   			}
		      }

					function loadProfiles(users, matches, profiles){

						for(var i = 0; i < users.length; i++){
							try{image = "/media/"+profiles[i].profileImage}
							catch(err){ image = "none"}

							var itemDiv = $("<div class='col'>").
					    append( $("<div class='card'>")).
							append( $("<img class='card-img-top' src='"+image+"' alt='Card image cap'><div class='card-body'>")).
							append( $("<h5 class='card-title'>" + users[i] + "</h5><p class='card-text'>" + profiles[i].bio + "</p>You have " + matches[i] + " matches with this person!</p><a href='#' class='btn btnCard'>Like Profile<span><i class='fas fa-thumbs-up'></i></a></span></div></div>"));
					 		$(".row").append(itemDiv);
						}
			     }

					 function getMatches(){
						 $.ajax({
						 	async: false,
						 	type: 'POST',
						 	url: '/matchingapp/lookupMatches/',
						 	success: function(content){
								loadProfiles(content.users, content.matches, content.profiles)
						 	}});
					 }

					$(document).on('click', '#logout', function (e){
					    e.preventDefault();
			        $.ajax({
			          type:'POST',
			          url: '/matchingapp/logout/',
			          success: function(data){
			            returnToLogin();
			          }
			        });
					 });

		      function returnToLogin(){
		        window.location = '/matchingapp/loginPage';
		      }
		    </script>
		  </body>
		{% endblock %}
	</html>
