{% extends 'matchingapp/base.html' %}
		{% load static %}
		{% block title %}<title>Login</title>{% endblock %}
		{% block stylesheet %}<link rel="stylesheet" type="text/css" href="{% static 'matchingapp/loginstyle.css' %}">{% endblock %}
	{% block body %}<body>{% endblock %}
			{% block content %}
			<!-- Form -->
			<div class="form-box">
				<form class="login-form container">
					<div class="form-group">
						<label for="username">Username</label>
						<div class="input-group">
							<div class="input-group-addon"><span class="fas fa-user"></span></div>
	        		<input class="input form-control" id="username" type="text" name="username" placeholder="Username" autofocus/>
						</div>
					</div>
					<div class="form-group">
						<label for="password">Password</label>
						<div class="input-group">
							<div class="input-group-addon"><span class="fas fa-key"></span></div>
	        		<input class="input form-control" id="password" type="password" name="password" placeholder="Password"/>
						</div>
					</div>
	        <br/><label id = "message" style = "display: none;"></label>
	        <button id="loginbtn" class="next-button btn btn-primary" onclick='loginUser()'> Login </button>
	        <br/><br/>
	        <a href = "{%url 'register'%}">No account? Click here to register</a>
	      </form>
			</div>
			<!-- /.Form -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script type = 'text/javascript'>
        function loginUser(){
          $.ajax({
            type:'POST',
            url: '/matchingapp/login/',
            data: {
              username: $("#username").val(),
              password: $("#password").val(),
            },
            success: function(data){
              if(data[0].success == "true"){
								console.log("Logged In");
								returnHome();
              }
              else if(data[0].success == "false" && data[0].message == "incorrect password"){
                $("#message").html("Incorrect login details. Please try again.");
                $("#message").css("display","inline");
              }
              else if(data[0].success == "false" && data[0].message == "user does not exist"){
                $("#message").html("No account matching this username exists. Please try again.");
                $("#message").css("display","inline");
              }
            }
          });
          event.preventDefault();
        }

				function returnHome(){
					window.location = '/matchingapp/home';
				}
      </script>
			{% endblock %}
		</body>
</html>
