{% extends 'matchingapp/base.html' %}
		{% load static %}
		{% block title %}<title>Profile</title>{% endblock %}
		{% block stylesheet %} <link type="text/css" href="{% static 'matchingapp/profile.css' %}">{% endblock %}
{% block body %}<body onload="obtainUser()"> {% endblock %}
{% block content %}
<br/>
  <div class="container">
    <input id="id" type="text" name="id" hidden/>
    <div class="form-group">
      <label for="username">Username</label>
      <input id="username" class="form-control" type="text" name="username" placeholder="Username"/>
    </div>
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input id="firstName" class="form-control" type="text" name="firstName" placeholder="First Name"/>
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input id="lastName" class="form-control" type="text" name="lastName" placeholder="Last Name"/>
    </div>
    <div class="form-group">
      <label for="age">Age</label>
			<input id="age" class="form-control" type="text" name="age" placeholder="Age" readonly/>
    </div>
  <label for="gender">Gender:</label>
  <input type="radio" name="gender" value="male"/> Male
  <input type="radio" name="gender" value="female"/> Female
  <input type="radio" name="gender" value="other"/> Other
  <br/>
  <span>
  <label>Date of Birth</label>
  <select id="day"></select>
  <select id="month">
  <option value="january">January</option><option value="february">February</option>
  <option value="march">March</option><option value="april">April</option>
  <option value="may">May</option><option value="june">June</option>
  <option value="july">July</option><option value="august">August</option>
  <option value="september">September</option><option value="october">October</option>
  <option value="november">November</option><option value="december">December</option>
  </select>
  <select id="year"></select>
  </span>
      <br/>
      Bio: <textarea name="bio" id="bio" class="form-control" rows="8" cols="80" placeholder="Bio"></textarea>
      <br/>
      <br/>
      <button class="btn btn-danger btn-col" onclick="updateUser()"> Update Profile </button>
      <a class="btn btn-primary" href = "{%url 'index'%}">Home</a>
			<br/><br/>
    </div>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type = 'text/javascript'>
      function authenticateUser()
      {
        var loggedIn = false;
        var username = "";

        $.ajax({
          async: false,
           type: 'GET',
           url: '/matchingapp/authenticate/',
           dataType: 'json',
           success: function(data)
           {
              loggedIn = data[0].success

              if(loggedIn === false)
              {
                returnToLogin();
              }

              username = data[0].username
           }
        });

        return username;
      }

      function calculateAge(dob)
      {
        var today = new Date();
        var birthDate = new Date(dob);
        var age = today.getFullYear() - birthDate.getFullYear();
        var m = today.getMonth() - birthDate.getMonth();
        if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate()))
        {
            age--;
        }

        return age;
      }

      function loadUserInfo(username)
      {
  console.log(username);

  $.ajax({
           async: false,
           type: 'POST',
           url: '/matchingapp/loadUser/',
           data: {
             username: username
           },
           success: function(data)
           {
              if(data[0].success === "true")
              {
  $("#id").val(data[0].id);
  $("#username").val(data[0].username);
                $("#firstName").val(data[0].firstName);
                $("#lastName").val(data[0].lastName);

  var dateOfBirth = (data[0].dob).toString();
  var parts = dateOfBirth.split('-');
  var year = parseInt(parts[0], 10);
  var month = parseInt(parts[1], 10);
  var day = parseInt(parts[2], 10);

  dayList = document.getElementById('day');
  dayList.value = day;

  monthList = document.getElementById('month');
  monthString = convertMonth(month).toLowerCase();
  monthList.value = monthString;

  yearList = document.getElementById('year');
  yearList.value = year;

                age = calculateAge(data[0].dob);
                $("#age").val(age);

                $("#bio").val(data[0].bio);
  $('input[name="gender"][value=' + data[0].gender + ']').attr('checked', true);
              }
           }
        });
      }

  function convertMonth(month)
  {
  if(month === 1){ month = "January"; }
  else if(month === 2){ month = "February"; }
  else if(month === 3){ month = "March"; }
  else if(month === 4){ month = "April"; }
  else if(month === 5){ month = "May"; }
  else if(month === 6){ month = "June"; }
  else if(month === 7){ month = "July"; }
  else if(month === 8){ month = "August"; }
  else if(month === 9){ month = "September"; }
  else if(month === 10){ month = "October"; }
  else if(month === 11){ month = "November"; }
  else if(month === 12){ month = "December"; }
  else if(month === "january"){ month = 01; }
  else if(month === "february"){ month = 02; }
  else if(month === "march"){ month = 03; }
  else if(month === "april"){ month = 04; }
  else if(month === "may"){ month = 05; }
  else if(month === "june"){ month = 06; }
  else if(month === "july"){ month = 07; }
  else if(month === "august"){ month = 08; }
  else if(month === "september"){ month = 09; }
  else if(month === "october"){ month = 10; }
  else if(month === "november"){ month = 11; }
  else if(month === "december"){ month = 12; }
  return month;
  }

  function populateList()
  {
  var minDay = 1;
  var maxDay = 31;
  dayList = document.getElementById('day');

  for (var i = minDay; i <= maxDay; i++){
  var option = document.createElement('option');
  option.value = i;
  option.innerHTML = i;
  dayList.appendChild(option);
  }
  var minYear = 1900;
  var maxYear = new Date().getFullYear();
  yearList = document.getElementById('year');

  for (i = minYear; i <= maxYear; i++){
  var option = document.createElement('option');
  option.value = i;
  option.innerHTML = i;
  yearList.appendChild(option);
  }
  yearList.value = maxYear;
  }

      function obtainUser()
      {
  populateList();
  var user = authenticateUser();
        loadUserInfo(user);
      }

  function updateUser(name){
  dob = processNewDateOfBirth();
  $.ajax({
           type: 'POST',
           url: '/matchingapp/update/',
           data: {
  id: $("#id").val(),
  username: $("#username").val(),
  firstName: $("#firstName").val(),
  lastName: $("#lastName").val(),
  dateOfBirth: dob,
  bio: $("#bio").val(),
  gender: $('input[name="gender"]:checked').val(),
           },
           success: function(data)
  {
  console.log("Done");
  }
  });
  }

  function processNewDateOfBirth()
  {
  yearList = document.getElementById('year');
  monthList = document.getElementById('month');
  dayList = document.getElementById('day');

  year = yearList.value;
  month = monthList.value;
  day = dayList.value;

  month = convertMonth(month);

  return `${year}-${month}-${day}`
  }

      function returnToLogin()
      {
        window.location = '/matchingapp/loginPage';
      }
  </script>
{% endblock %}
