<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Register</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'matchingapp/style.css' %}">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
	</head>
	<body onload="loadLists()">
						<form class="register-form container">
								<div class="form-group">
									<label for="username">Username</label>
									<input class="input form-control" id="username" type="text" name="username" placeholder="Username" autofocus/>
								</div>
								<div class="form-group">
									<label for="email">Email</label>
									<input class="input form-control" id="email" type="text" name="email" placeholder="Email"/>
									<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
								</div>
								<div class="form-group">
									<label for="firstName">First Name</label>
									<input class="input form-control" id="firstName" type="text" name="firstName" placeholder="First Name"/>
								</div>
								<div class="form-group">
									<label for="lastName">Last Name</label>
									<input class="input form-control" id="lastName" type="text" name="lastName" placeholder="Last Name"/>
								</div>
								<div class="form-group">
									<label for="gender">Gender</label>
									<input type="radio" name="gender" value="male"/> Male
  								<input type="radio" name="gender" value="female"/> Female
  								<input type="radio" name="gender" value="other"/> Other
								</div>
								<div class="form-group">
									<label for="password">Password</label>
                	<input class="input form-control" id="password" type="password" name="password" placeholder="Password"/><br/>
                	<input class="input form-control" id="confirmPassword" type="password" name="confirmPassword" placeholder="Confirm Password"/>
								</div>
								<div class="form-group">
									<span class="dropdown">
										<label>Date of Birth</label>
										<select id="day"></select>
										<select id="month">
											<option value="january">January</option><option value="february">February</option>
											<option value="march">March</option><option value="april">April</option>
											<option value="may">May</option><option value="june">June</option>
											<option value="july">July</option><option value="august">August</option>
											<option value="september">September</option><option value="october">October</option>
											<option value="november">November</option><option value="december">December</option>
										</select>
										<select id="year"></select>
									</span>
								</div>
								<br/>
								<ul id = 'list'></ul>
								<label id = "message" style = "display: none;"></label>
                <button class="next-button btn btn-primary" onclick='createUser()'> Create Account </button>
								<br/>
								<br/>
								<a href = "{%url 'index'%}">Login</a>
						</form>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type = 'text/javascript'>

			function createUser()
      {
				var gender = $('input[name="gender"]:checked').val();
				var dob = processDateOfBirth($("#day").find('option:selected').text(),

				$("#month").find('option:selected').text(), $("#year").find('option:selected').text())

				var selectedHobbies = [];
				$('#list input:checked').each(function()
				{
				    selectedHobbies.push($(this).attr('name'));
				});

				if($("#password").val() == $("#confirmPassword").val())
        {
          $.ajax({
            type:'POST',
            url: '/matchingapp/registerUser/',
            data: {
							username : $("#username").val(),
							email : $("#email").val(),
              password : $("#password").val(),
							firstName : $("#firstName").val(),
          		lastName : $("#lastName").val(),
							gender: gender,
							dateOfBirth: dob,
							hobbies: JSON.stringify(selectedHobbies),
            },
            success: function(data)
            {
							if(data[0].success == "true")
							{
								$("#message").html("Successfully registered user. Please login.")
								$("#message").css("display","inline")
							}

							else if(data[0].success == "false" && data[0].message == "user or email taken")
							{
								$("#message").html("Username or email is taken. Please try again.")
								$("#message").css("display","inline")
							}

							else if(data[0].success == "false" && data[0].message == "no hobbies selected")
							{
								$("#message").html("Select atleast one hobby.")
								$("#message").css("display","inline")
							}
            },

						error: function(req, err)
						{
							$("#message").html("Something went wrong. Please try again.")
							$("#message").css("display","inline")
						}
          });

					event.preventDefault();
        }

        else {
          alert("Passwords do not match.");
        }
      }

			function getHobbies()
			{
				$.ajax({
					type:'GET',
					url: '/matchingapp/getHobbies/',
					dataType: "json",
					success: this.loadHobbies,
					error: function(req, err)
					{
						console.log('JSON call failed', err);
					}
				});
			}

			function loadHobbies(data)
			{
				hobbyList = '';
				for (var i = 0; i < data.length; i++)
				{
					hobbyName = data[i].name;
					hobbyList += '<li>' +
														'<input type="checkbox" name = "' + hobbyName + '"/>' + hobbyName + '<br>' + '</li>'
				}
				$("#list").html(hobbyList);
		}

		function processDateOfBirth(day, month, year)
		{
			if(month === "January")
			{
				month = "01";
			}

			else if(month === "February")
			{
				month = "02";
			}

			else if(month === "March")
			{
				month = "03";
			}

			else if(month === "April")
			{
				month = "04";
			}

			else if(month === "May")
			{
				month = "05";
			}

			else if(month === "June")
			{
				month = "06";
			}

			else if(month === "July")
			{
				month = "07";
			}

			else if(month === "August")
			{
				month = "08";
			}

			else if(month === "September")
			{
				month = "09";
			}

			else if(month === "October")
			{
				month = "10";
			}

			else if(month === "November")
			{
				month = "11";
			}

			else if(month === "December")
			{
				month = "12";
			}

			return `${year}-${month}-${day}`
		}

		function populateList()
		{
			var minDay = 1;
			var maxDay = 31;
			dayList = document.getElementById('day');

			for (var i = minDay; i <= maxDay; i++)
			{
				 var option = document.createElement('option');
				 option.value = i;
				 option.innerHTML = i;
				 dayList.appendChild(option);
			}

			var minYear = 1900;
			var maxYear = new Date().getFullYear();
			yearList = document.getElementById('year');

			for (i = minYear; i <= maxYear; i++)
			{
				 var option = document.createElement('option');
				 option.value = i;
				 option.innerHTML = i;
				 yearList.appendChild(option);
			}

			yearList.value = maxYear;
		}

		function loadLists()
		{
			getHobbies();
			populateList();
		}
  </script>
	</body>
</html>
