{% extends 'matchingapp/base.html' %}
		{% load static %}
		{% block title %}<title>Settings</title>{% endblock %}
		{% block stylesheet %} <link rel="stylesheet" type="text/css" href="{% static 'matchingapp/settings.css' %}">{% endblock %}
{% block body %}<body onload="obtainUser()"> {% endblock %}
{% block content %}
{% csrf_token %}
	<br/>
  <div class="container">
		<h3 class="subheaders"><i class="fas fa-user"></i> Profile</h3><br/>
    <input id="id" type="text" name="id" hidden/>
		<div class="row">
			<div class="col-sm">
				<div class="form-group">
					<label for="username">Username</label>
					<input id="username" class="form-control" type="text" name="username" placeholder="Username"/>
				</div>
				<div class="row">
					<div class="col-sm">
						<div class="form-group">
							<label for="firstName">First Name</label>
							<input id="firstName" class="form-control" type="text" name="firstName" placeholder="First Name"/>
						</div>
					</div>
					<div class="col">
						<div class="form-group">
							<label for="lastName">Last Name</label>
							<input id="lastName" class="form-control" type="text" name="lastName" placeholder="Last Name"/>
						</div>
					</div>
				</div>
				<div class="form-group">
				  <label for="gender">Gender</label>
				  <input type="radio" name="gender" value="male"/> Male
				  <input type="radio" name="gender" value="female"/> Female
				  <input type="radio" name="gender" value="other"/> Other
				</div>
		    <div class="form-group">
		      <label for="age">Age</label>
					<input id="age" class="form-control" type="text" name="age" placeholder="Age" readonly/>
					<small id="emailHelp" class="form-text text-muted">Contact Admin if there's a problem with your age.</small>
				</div>
			</div>
			<div class="col">
				<div class="form-group">
					<label for="profileImage">Profile Image</label>
					<br/><img id="currentImage" name="currentImage"/><br/><br/>
					<input class="input form-control" id="profileImage" type="file" name="profileImage" onchange="return ValidateFileUpload()"/>
				</div>
			</div>
		</div>
  	<span>
	  	<label class="mr-sm-2" for="inlineFormCustomSelect">Date of Birth</label>
			<div class="row">
				<div class="col">
			  	<select id="day" class="custom-select mb-2 mr-sm-2 mb-sm-0"></select>
				</div>
				<div class="col">
				  <select id="month" class="custom-select mb-2 mr-sm-2 mb-sm-0">
				  	<option value="january">January</option><option value="february">February</option>
				  	<option value="march">March</option><option value="april">April</option>
				  	<option value="may">May</option><option value="june">June</option>
				  	<option value="july">July</option><option value="august">August</option>
				  	<option value="september">September</option><option value="october">October</option>
				  	<option value="november">November</option><option value="december">December</option>
				  </select>
				</div>
				<div class="col">
		  		<select id="year" class="custom-select mb-2 mr-sm-2 mb-sm-0"></select>
				</div>
			</div>
  		</span><br/>
			<div class="form-group">
      	<label for="bio">Bio</label>
				<textarea name="bio" id="bio" class="form-control" rows="8" cols="80" placeholder="Bio"></textarea>
			</div>
			<div class="container">
				<h5><label>Hobbies</label></h5>
				<ol id="hobbyList">
				</ol>
			</div>
      <button class="btn btn-primary" onclick="updateUser()"> Update Profile </button>
			<br/><br/>
    </div>
		<div class="container">
			<h3 class="subheaders"><i class="fas fa-cogs"></i> Account</h3>
			<label for="password">Change Password</label>
			<input id="currentPassword" class="form-control" type="password" name="currentPassword" placeholder="Current Password"/><br/>
			<input id="newPassword" class="form-control" type="password" name="newPassword" placeholder="New Password"/><br/>
			<p id="password-label" hidden=true></p>
			<button class="btn btn-primary" onclick="updateUserPassword()"> Update Password </button>
			<br/>
			<br/>
			<div id="account">
				<div class="container">
					<br/>
					<div class="row">
						<div class="col-sm-8"><h5>Delete Account</h5>
						<p>This permanently deletes the account</p></div>
						<div class="col-sm-4">
							<button class="delete btn btn-account">Delete Account</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br/>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type = 'text/javascript'>
			//checks that a user haas logged in
      function authenticateUser(){
        var loggedIn = false;
        var username = "";

        $.ajax({
          async: false,
           type: 'GET',
           url: '/matchingapp/authenticate/',
           dataType: 'json',
           success: function(data){
              loggedIn = data[0].success
              if(loggedIn === false){
                returnToLogin();
              }
              username = data[0].username
           }
        });
        return username;
      }

			function ValidateFileUpload() {
			var fuData = document.getElementById('profileImage');
			var FileUploadPath = fuData.value;

			if(FileUploadPath != ""){
					var Extension = FileUploadPath.substring(FileUploadPath.lastIndexOf('.') + 1).toLowerCase();
					//The file uploaded is an image
					if (Extension == "gif" || Extension == "png" || Extension == "bmp"
													|| Extension == "jpeg" || Extension == "jpg") {
							return true; // To Display
					} else { //The file upload is NOT an image
							alert("Photo only allows file types of GIF, PNG, JPG, JPEG and BMP. ");
							return false;
					}
				}
			}

			//calculates age of user using the birthdate
      function calculateAge(dob){
        var today = new Date();
        var birthDate = new Date(dob);
        var age = today.getFullYear() - birthDate.getFullYear();
        var m = today.getMonth() - birthDate.getMonth();
        if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())){
            age--;
        }
        return age;
      }
			//gets user information by using session data stored in the backend
			function loadUserInfo(username){
				var csrf = $('input[name=csrfmiddlewaretoken]').val();
		     $.ajax({
		           async: false,
		           type: 'POST',
		           url: '/matchingapp/loadUser/',
		           data: {
								 csrfmiddlewaretoken: csrf,
		             username: username
		           },
		           success: function(data){
		              if(data[0].success === "true"){
		         				$("#id").val(data[0].id);
		         				$("#username").val(data[0].username);
		                $("#firstName").val(data[0].firstName);
		                $("#lastName").val(data[0].lastName);

						        var dateOfBirth = (data[0].dob).toString();
						        var parts = dateOfBirth.split('-');
						        var year = parseInt(parts[0], 10);
						        var month = parseInt(parts[1], 10);
						        var day = parseInt(parts[2], 10);

						        dayList = document.getElementById('day');
						        dayList.value = day;

						        monthList = document.getElementById('month');
						        monthString = convertMonth(month).toLowerCase();
						        monthList.value = monthString;

						        yearList = document.getElementById('year');
						        yearList.value = year;

		                age = calculateAge(data[0].dob);
		                $("#age").val(age);

										$("#currentImage").attr('src', data[0].image);

		                $("#bio").val(data[0].bio);

							       var hobbies = data[0].hobbies;
							       var items = []
		       	 				 for(var i=0; i < hobbies.length; i++){
		        						items.push($('<li/>').text(hobbies[i]));
		       					 }
		       					 $('#hobbyList').append.apply($('#hobbyList'), items);
		         				 $('input[name="gender"][value=' + data[0].gender + ']').attr('checked', true);
		              }
		           }
		        });
		      }

		  function convertMonth(month){
			  if(month === 1){ month = "January"; }
			  else if(month === 2){ month = "February"; }
			  else if(month === 3){ month = "March"; }
			  else if(month === 4){ month = "April"; }
			  else if(month === 5){ month = "May"; }
			  else if(month === 6){ month = "June"; }
			  else if(month === 7){ month = "July"; }
			  else if(month === 8){ month = "August"; }
			  else if(month === 9){ month = "September"; }
			  else if(month === 10){ month = "October"; }
			  else if(month === 11){ month = "November"; }
			  else if(month === 12){ month = "December"; }
			  else if(month === "january"){ month = 01; }
			  else if(month === "february"){ month = 02; }
			  else if(month === "march"){ month = 03; }
			  else if(month === "april"){ month = 04; }
			  else if(month === "may"){ month = 05; }
			  else if(month === "june"){ month = 06; }
			  else if(month === "july"){ month = 07; }
			  else if(month === "august"){ month = 08; }
			  else if(month === "september"){ month = 09; }
			  else if(month === "october"){ month = 10; }
			  else if(month === "november"){ month = 11; }
			  else if(month === "december"){ month = 12; }
			  return month;
		  }

		  function populateList(){
			  var minDay = 1;
			  var maxDay = 31;
			  dayList = document.getElementById('day');

			  for (var i = minDay; i <= maxDay; i++){
				  var option = document.createElement('option');
				  option.value = i;
				  option.innerHTML = i;
				  dayList.appendChild(option);
			  }
			  var minYear = 1900;
			  var maxYear = new Date().getFullYear();
			  yearList = document.getElementById('year');

			  for (i = minYear; i <= maxYear; i++){
				  var option = document.createElement('option');
				  option.value = i;
				  option.innerHTML = i;
				  yearList.appendChild(option);
			  }
			  yearList.value = maxYear;
		  }

      function obtainUser(){
  			populateList();
  			var user = authenticateUser();
        loadUserInfo(user);
      }
			//update user is similar to registration
		  function updateUser(name){
				var csrf = $('input[name=csrfmiddlewaretoken]').val();
				username = $("#username").val();
				dob = processNewDateOfBirth();

				if(calculateAge(dob)< 18){
					alert("Please enter a valid age (18+)");
					return;
				}

				res = ValidateFileUpload(); //Validates image
				if (res == false) { return; }

				var fd = new FormData();
				fd.append("csrfmiddlewaretoken", csrf);
				fd.append("profileImage", $("#profileImage")[0].files[0]);
				fd.append("id", $("#id").val());
				fd.append("username",username);
				fd.append("firstName",$("#firstName").val());
				fd.append("lastName", $("#lastName").val());
				fd.append("dateOfBirth", dob);
				fd.append("bio", $("#bio").val());
				fd.append("gender",$('input[name="gender"]:checked').val());

		  	$.ajax({
		       type: 'POST',
		       url: '/matchingapp/update/',
		       data: fd,
					 contentType: 'multipart/form-data',
					 processData: false,
					 contentType: false,
		    	 success: function(data){
			  			console.log("Done");
							loadUserInfo(username);
						}
		  	});
		  }

			function updateUserPassword()
			{
				var csrf = $('input[name=csrfmiddlewaretoken]').val();
				$.ajax({
					 type: 'POST',
					 url: '/matchingapp/updatePassword/',
					 data: {
						 csrfmiddlewaretoken: csrf,
						 currentPassword: $("#currentPassword").val(),
						 newPassword: $("#newPassword").val()
					 },
					 success: function(data)
					 {
							if(data.success == true)
							{
								$('#password-label').html('Password successfully changed.');
								$('#password-label').removeAttr('hidden');
							}

							else if(data.success == false)
							{
								$('#password-label').html('Password is incorrect. Please try again.');
								$('#password-label').removeAttr('hidden');
							}
					 }
				});
			}

		  function processNewDateOfBirth(){
			  yearList = document.getElementById('year');
			  monthList = document.getElementById('month');
			  dayList = document.getElementById('day');

			  year = yearList.value;
			  month = monthList.value;
			  day = dayList.value;

			  month = convertMonth(month);

			  return `${year}-${month}-${day}`
		  }
			//Passes user id to find in database and delete account, on success returns to login
			$(document).on('click', '.delete', function () {
        if (confirm("Are you sure you want to delete this?")){
          var id = $("#id").val();
          $.ajax({
            type: "DELETE",
            url: "/matchingapp/delete/",
            data: JSON.stringify({'id': id}),
            success: function() {
                console.log("Success");
								returnToLogin();
            },
            error: function(req, status, err){
                console.log("Something went wrong", status, err)
            },
          });
        }
      });
  </script>
{% endblock %}
